/* COLOR SCHEME START */

/* MAIN_COLORS(BLACK,GRAY,WHITE) START */

/* black_section start */
.black {
  color: #000000;
}
/* black_section ends */

/* grey_section starts */
.grey {
  color: #666666;
}

.blury-grey {
  color: #696969;
}

.ghost-grey {
  color: #dcdcdc;
}

.light-grey {
  color: #9e9e9e;
}

.dark-grey {
  color: #363636;
}
/* grey_section ends */

.ghost-white {
  color: #f8f8ff;
}

.azure-white {
  color: #f0ffff;
}

.white {
  color: #ffffff;
}

/* MAIN_COLORS END */

/* COLOR_BLUE START */
.blue {
  color: #0000ee;
}

.light-blue {
  color: #87cefa;
}

.dark-blue {
  color: #1e3885;
}

.royal-blue {
  color: #4169e1;
}

.sky-blue {
  color: #87ceff;
}

.steel-blue {
  color: #5cacee;
}
/* COLOR_BLUE END */
.red {
  color: #ff0000;
}

.light-red {
  color: #df4242;
}

.dark-red {
  color: #8b0000;
}

.orange-red {
  color: #ee4000;
}

.classic-red {
  color: #ee2c2c;
}
/* COLOR_RED END */

/* COLOR_GREEN START */
.dark-green {
  color: #006400;
}

.green {
  color: #00cd00;
}

.light-green {
  color: #00ee00;
}

.lime-green {
  color: #32cd32;
}

.classic-green {
  color: #228b22;
}

/*COLOR_GREEN END */

/*COLOR_PURPLE START */
.purple {
  color: #a020f0;
}

.classic-purple {
  color: #9b30ff;
}

.dark-purple {
  color: #551a8b;
}

.magneta {
  color: #cd00cd;
}

.dark-magneta {
  color: #8b008b;
}

.light-magneta {
  color: #ff00ff;
}

/*COLOR_PURPLE END */
/*COLOR_PINK START */
.deep-pink {
  color: #ff1493;
}

.dark-pink {
  color: #8b0a50;
}

.classic-pink {
  color: #ff69b4;
}

.light-pink {
  color: #ffaeb9;
}

.dark-orchid {
  color: #cd69c9;
}

.light-orchid {
  color: #ff83fa;
}

.orchid {
  color: #ee7ae9;
}
/*COLOR_PINK END */

/*COLOR_YELLOW START */
.yellow {
  color: #ffff00;
}

.blury-yellow {
  color: #eeee00;
}

.warm-yellow {
  color: #eec900;
}

/* COLOR_YELLOW END */

/* COLOR_GOLD START */
.gold {
  color: #ffd700;
}

/* COLOR_GOLD END */

/* COLOR_BROWN START */

/* COLOR_BROWN END */

/* COLOR SCHEME END */
