/* COLOR SCHEME START */

/* COLOR_BLUE START */
.blue {
  color: #0000ee;
}

.light-blue {
  color: #87cefa;
}

.dark-blue {
  color: #1e3885;
}

.royal-blue {
  color: #4169e1;
}

.sky-blue {
  color: #87ceff;
}

.steel-blue {
  color: #5cacee;
}
/* COLOR_BLUE END */
.red {
  color: #ff0000;
}

.light-red {
  color: #df4242;
}

.dark-red {
  color: #8b0000;
}

.orange-red {
  color: #ee4000;
}

.classic-red {
  color: #ee2c2c;
}
/* COLOR_RED END */

/* COLOR_GREEN START */
.dark-green {
  color: #006400;
}

.green {
  color: #00cd00;
}

.light-green {
  color: #00ee00;
}

.lime-green {
  color: #32cd32;
}

.classic-green {
  color: #228b22;
}

/*COLOR_GREEN END */

/*COLOR_PURPLE START */
.purple {
  color: #a020f0;
}

.classic-purple {
  color: #9b30ff;
}

.dark-purple {
  color: #551a8b;
}

.magneta {
  color: #cd00cd;
}

.dark-magneta {
  color: #8b008b;
}

.light-magneta {
  color: #ff00ff;
}

/*COLOR_PURPLE END */

/* COLOR SCHEME END */
