/* COLOR SCHEME START */

/* COLOR_BLUE START */
.blue {
  color: #0000ee;
}

.light-blue {
  color: #87cefa;
}

.dark-blue {
  color: #1e3885;
}

.royal-blue {
  color: #4169e1;
}

.sky-blue {
  color: #87ceff;
}

.steel-blue {
  color: #5cacee;
}
/* COLOR_BLUE END */
.red {
  color: #ff0000;
}

.light-red {
  color: #df4242;
}

.dark-red {
  color: #8b0000;
}

.orange-red {
  color: #ee4000;
}

.classic-red {
  color: #ee2c2c;
}
/* COLOR SCHEME END */
